#header{
    display:grid;
    grid-template-columns:0.25fr 0.5fr 0.25fr;
    grid-template-areas:
    "a b c"; 
    height:20vh;
    border-style:solid;
    border-radius:20px;
    background-image: url("../img/grass.jpg");
}
html{
    cursor:url(warm3.cur), url(https://www2.cs.ccu.edu.tw/~ssh107u/warm3.cur), auto;
}
#content{
    display:grid;
    grid-template-columns:0.2fr 0.001fr 0.8fr;
    grid-template-areas:
    "d e f"; 
    height:100%;
    margin-left: 3vw;
    margin-right:3vw;
    border-style:dashed;
    border-radius:50px;
    border-color:greenyellow;
}
#sub{
    display: grid;
    grid-template-columns:30vw auto;
    grid-template-areas:
    "g h"; 
    margin-left:20vw;
}
#subheader{
    text-align:center; 
    margin-top:2vh; 
    font-weight:bold; 
    color:#009700; 
    font-family:'DFKai-sb',Microsoft JhengHei,sans-serif; 
}
.list{
    margin-left:25vw; 
    list-style:none; 
    color:#009700; 
    font-size:130%; 
    font-family:Georgia,'Courier New', Courier, monospace;
}
.list-chinese{
    margin-left:25vw; 
    list-style:none; 
    color:#009700; 
    font-size:130%; 
    font-family:DFKai-sb,Microsoft JhengHei,sans-serif;
}
#vertical{
    grid-area:e; 
    background-color:green; 
    margin-top:3vh; 
    margin-bottom:3vh;  
    float:left; 
    border-style:double; 
    border-width:medium; 
    border-color:green;
}
.dialog-left-1{
    float:left;
    border: 3px solid green;
    height: auto;
    position: relative;
    width: 37vw;
    color:rebeccapurple;
    border-radius:20px;
    font-family:'DFKai-sb',Microsoft JhengHei,sans-serif;
    background: white;
    margin-left:3.5vw;
    font-size:85%;
    margin-top:3vh;
}
.dialog-left-1::before {
    border-color: transparent green green transparent; 
    border-style: solid; 
    border-width: 19px;
    content: "";
    height: 0px;
    left: -40px;
    position: absolute;
    top: 35px;
    width: 0px;
}
.dialog-left-1::after {
    border-color: transparent #fff #fff transparent; 
    border-style: solid solid solid solid; 
    border-width:17px;
    content: "";
    height: 0px;
    left: -32px; 
    position: absolute;
    top: 36px;
    width: 0px;
}
.dialog-left-2{
    float:left;
    border: 3px solid green;
    height: auto;
    position: relative;
    color:rebeccapurple;
    width: 37vw;
    border-radius:20px;
    font-family:'DFKai-sb',Microsoft JhengHei,sans-serif;
    background: white;
    margin-left:3.5vw;
    font-size:85%;
    margin-top:3vh;
}
.dialog-left-2::before {
    border-color: transparent green green transparent; 
    border-style: solid; 
    border-width: 19px;
    content: "";
    height: 0px;
    left: -40px;
    position: absolute;
    top: 35px;
    width: 0px;
}
.dialog-left-2::after {
    border-color: transparent #fff #fff transparent; 
    border-style: solid solid solid solid; 
    border-width:17px;
    content: "";
    height: 0px;
    left: -32px; 
    position: absolute;
    top: 36px;
    width: 0px;
}
.dialog-left-3{
    float:left;
    border: 3px solid green;
    height: auto;
    color:rebeccapurple;
    position: relative;
    width: 37vw;
    border-radius:20px;
    font-family:'DFKai-sb',Microsoft JhengHei,sans-serif;
    background: white;
    margin-left:3.5vw;
    font-size:85%;
    margin-top:3vh;
}
.dialog-left-3::before {
    border-color: transparent green green transparent; 
    border-style: solid; 
    border-width: 19px;
    content: "";
    height: 0px;
    left: -40px;
    position: absolute;
    top: 35px;
    width: 0px;
}
.dialog-left-3::after {
    border-color: transparent #fff #fff transparent; 
    border-style: solid solid solid solid; 
    border-width:17px;
    content: "";
    height: 0px;
    left: -32px; 
    position: absolute;
    top: 36px;
    width: 0px;
}
.dialog-left-4{
    float:left;
    border: 3px solid green;
    height: auto;
    position: relative;
    color:rebeccapurple;
    width: 37vw;
    border-radius:20px;
    font-family:'DFKai-sb',Microsoft JhengHei,sans-serif;
    background: white;
    margin-left:3.5vw;
    font-size:85%;
    margin-top:3vh;
}
.dialog-left-4::before {
    border-color: transparent green green transparent; 
    border-style: solid; 
    border-width: 19px;
    content: "";
    height: 0px;
    left: -40px;
    position: absolute;
    top: 35px;
    width: 0px;
}
.dialog-left-4::after {
    border-color: transparent #fff #fff transparent; 
    border-style: solid solid solid solid; 
    border-width:17px;
    content: "";
    height: 0px;
    left: -32px; 
    position: absolute;
    top: 36px;
    width: 0px;
}